$table-height: 500px;

.default-button {
  border: 1px solid #9a9a9a;
  padding: 3px 10px;
  font-size: 14px;
  color: #007aff;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  &.button-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &.button-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &:hover {
    background: #d1e7ff;
  }
}

.arrow {
  display: inline-block;
  padding: 0 5px;
  transition: transform ease-in 0.5s;
  &.up {
    transform: rotate(-90deg);
  }
  &.down {
    transform: rotate(90deg);
  }
}

#UserExpensesTableBudget {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 35px 0;

  table,
  th,
  td {
    border-collapse: collapse;
  }

  .user-expenses-content {
    min-width: 600px;
    width: 70%;
    max-width: 1000px;
    border: 1px solid #9a9a9a;
    border-radius: 15px;
    padding: 0 0 25px 0;
    overflow: hidden;

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 5px 15px;
      background: #efefef;
    }
    main {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: center;
      align-items: stretch;
      padding: 15px 0 0 15px;

      #expenses-calendar-months {
        height: $table-height;
        thead {
          th {
            padding: 0 10px;
            text-transform: uppercase;
          }
        }
        tbody {
          tr {
            &.active {
              border-left: 3px solid #007aff;
              background: #d1e7ff;
              td:first-of-type {
                font-weight: 500;
              }
            }
            td {
              span.table-money {
                background: #c3c3c3;
                padding: 0px 10px;
                border-radius: 10px;
              }
            }
          }
          .expenses-calendar-months-total {
            font-weight: 500;
            height: 10px;
            background: #efefef;
          }
        }

        .expenses-calendar-months-years {
          tr:first-of-type {
            text-align: start;
            td {
              padding: 15px 0 0 10px;
            }
          }
          tr:nth-of-type(2) {
            height: 30px;
            td {
              a {
                display: inline-block;
                width: 100%;
              }
            }
          }
        }
      }

      .expenses-calendar-month-day-cards {
        table,
        th,
        td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        height: $table-height;
        overflow-y: scroll;
        .expenses-calendar-card {
          width: 100%;
          padding: 0 15px 15px 10px;
          .expenses-calendar-card-day {
            display: flex;
            justify-self: flex-start;
            padding: 0 5px 0 0;
          }
          .expenses-calendar-card-table {
            width: 100%;
          }
        }
      }
    }
  }
}
